* {
  box-sizing: border-box;
}

body {
  margin: 0;
  font-family: system-ui, -apple-system, BlinkMacSystemFont, "Segoe UI",
    sans-serif;
}


.app {
  min-height: 100vh;
  display: flex;
  background-color: #222;
  padding: 20px;
}

.left-pane {
  flex: 1;
  display: flex;
  justify-content: center;
  align-items: flex-start;
}

.right-pane {
  flex: 1;
  background-color: #f7f7f7;
  margin-left: 20px;
  padding: 20px;
  border-radius: 4px;
  overflow-y: auto;
}

/* loader */
.loader-wrapper {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-top: 40px;
}

.loader {
  width: 40px;
  height: 40px;
  border-radius: 50%;
  border: 4px solid #ccc;
  border-top-color: #000;
  animation: spin 1s linear infinite;
}

@keyframes spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}
